<html ng-app="myapp">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=ja"></script>
<script type="text/javascript" src="./modules/angular-google-maps.min.js"></script>
<script src="./app.js"></script>

</head>
<body>

  <div ng-controller="MapController">
  	<select ng-model="carWidth" ng-options="c.width as c.name for c in cars" ng-change="onChange()">
  	</select>
    <div id="map" style="width: 500px; height: 500px;"></div>

    <form ng-submit="onSubmit()">
    	{{wayId}}
    	<input type="text" name="minW" ng-model="wayWidth"><br>
    	<input type="submit" value="修正">
    </form>
  </div>
</body>
</html>
