<html ng-app="myapp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap/less/bootstrap.css">
<link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="./bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="./bootstrap-select/js/angular-bootstrap-select.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=ja"></script>
<script src="./app.js"></script>

</head>
<body>

  <div ng-controller="MapController">
  	車種:<select ng-model="carWidth" ng-options="c.width as c.name for c in cars" ng-change="onChange()">
  	<!--車種:<select ng-model="carWidth" ng-change="onChange()">
  		<option ng-repeat="c in cars" ng-value="{{c.width}}">test</option>-->
  	</select>　車幅:{{carWidth}} m
    <div id="map" style="width: 500px; height: 500px;"></div>

    <form ng-submit="onSubmit()">
    	道路ID: {{wayId}}<br>

    <div class="row">
    	<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">道路幅:</div>
    	<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4"><input type="text" name="minW" ng-model="wayWidth" class="form-control" placeholder=".col-xs-6 .col-sm-6 .col-md-9 .col-lg-9"></div>
    </div>
    	<input type="submit" value="修正" class="btn btn-default">
    </form>
  </div>
</body>
</html>
