<html ng-app="myapp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap/less/bootstrap.css">
<link rel="stylesheet" href="bootstrap-select/css/bootstrap-select.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="./bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="./bootstrap-select/js/angular-bootstrap-select.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=ja"></script>
<script src="./app.js"></script>

</head>
<body>

  <div ng-controller="MapController">
  	<div style="padding: 1em;">
	  	車種:<select ng-model="carWidth" ng-options="c.width as c.name for c in cars" ng-change="onChange()">
  		<!-- 車種:<select ng-model="carWidth" ng-change="onChange()">
  			<option ng-repeat="c in cars" ng-value="{{c.width}}">test</option> -->
  		</select>　車幅:{{carWidth}} m
  	</div>
  	<div class="row" style="background-color: #000000; color: #ffffff">
  		<div class="col-xs-10 col-sm-10 col-md-5 col-lg-7 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
	    	<div id="map" style="width: 100%; height: 500px;" map></div>
	    </div>

	    <div class="col-xs-10 col-sm-10 col-md-5 col-lg-3 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
	    <form ng-submit="onSubmit()" class="form-horizontal" style="padding-top: 2em;">
    		<div class="form-group">
    			<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">道路ID: </label>
    			<!-- <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">{{wayId}}</div> -->
   		 		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
   		 			<input type="text" ng-model="wayId" class="form-control" readonly>
    			</div>
			</div>
    		<div class="form-group">
	    		<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">道路幅:</label>
   		 		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
   		 			<input type="text" name="minW" ng-model="wayWidth" class="form-control">
   		 		</div>
    		</div>
    		<div class="form-group">
    			<input type="submit" value="修正" class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 btn btn-default">
    		</div>
    	</form>
    	</div>
    </div>



  </div>
</body>
</html>
